{% extends '/parametre/parametre.html.twig' %}

{% block ChangementParametre %}
    {% for message in app.flashes('erreurSaisieAncienMDP') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
    <h2>Changement de mot de passe</h2>
    {{ form_start(mdpForm)}}
    {{ form_row(mdpForm.motDePasse)}}
    <a href="{{path('us_parametre')}}"><button class="btn btn-danger" type="button">Annuler</button></a> 
    <button class="btn btn-success" type="submit">Enregistrer</input>
    {{ form_end(mdpForm)}}
{% endblock %}