{% extends 'templateBase.html.twig' %}

{% block barreRecherche %} {% endblock %}

{% block titleOnglet %}US - Modification {% endblock %}

{% block titlePage %} Suppression de posts {% endblock %}

{% block contenuDroit%} 

 <div class="text-center">

    {% if  user.emplacementPhoto == null %}
        <img src="{{asset('/img/avDefault.png')}}" class="img-thumbnail" height="100px" width="100px">
    {% else %}
        <img src="{{user.emplacementPhoto}}" class="img-thumbnail" height="100px" width="100px">
    {% endif %}<br>
    <strong>{{app.user.pseudo}}</strong>
    <br> <br>


    
    <a href="{{path('us_profil',{'pseudo':app.user.pseudo})}}"class="btn btn-success mb-2">Retour au profil</a> <br>
</div>

{% endblock %}

{% block contenuCentral %}
<p>
{% if posts == NULL %}
    {% if user == app.user %}
        Vous n'avez pas encore posté.
    {%else%}
        Cet utilisateur n'a pas de posts.
    {%endif%}
{%else%}

<form action="{{path('us_deletePostProfile')}}" onsubmit="return confirm('Voulez vous vraiment supprimer ce(s) post(s)? Cette action est irréversible...'');">

{% for postCourant in posts %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-1">
                <center><input type="checkbox" id="{{postCourant.id}}" method='Post' name='postASupprimer[]' value={{postCourant.id}}></center>
            </div>
            <div class="col-md-2">
                <img src = "{{ postCourant.emplacementPhoto }}" class="img-thumbnail">
            </div>
            <div class="col-md-2">
                <h6>{{ postCourant.titre }}</h6>
            </div>
            <div class="col-md-2">
                <p>{{ postCourant.description |length > 40 ? postCourant.description|slice(0, 40) ~ '...' : postCourant.description}}</p>
            </div>
            <div class="col-md-3">
                <i>{{ postCourant.createur.pseudo }}</i>
                <i>{{ postCourant.datePubli | date('d-m-Y')}}</i>
                <div class='rateYo' data-rating={{notesPosts[postCourant.id]}} ></div>
            </div>
            <div class="col-md-1">
            {% for semestreCourant in postCourant.modules %}
                {{ semestreCourant.semestre.sigle }}{% if loop.last == false %},{% endif %}
            {% endfor %}
            </div>
            <div class="col-md-1">
            {% for moduleCourant in postCourant.modules %}
                {{ moduleCourant.sigle }}{% if loop.last == false %},{% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endfor %}
{%endif%} 

<br>
<button class="btn btn-danger posBD"> <i class="fas fa-trash"></i> Supprimer</button>

</form>  
</p>
{%endblock%}

{%block Javascript%}
    <script src="{{ asset('js/scriptNoteMoyennePost.js') }}"></script>
{%endblock%}