{% extends 'templateBase.html.twig' %}

{% block barreRecherche %} {% endblock %}

{% block titleOnglet %}US - Profil {% endblock %}

{% block titlePage %} Profil {% endblock %}

{% block contenuCentral %}
<b>Description : </b>
<p> 
    {{user.description}}
</p>
<br>


<b>Post récents : </b>
<p> 
{% if posts == NULL %}
    {% if user == app.user %}
        Vous n'avez pas encore posté.
    {%else%}
        Cet utilisateur n'a pas de posts.
    {%endif%}
{%else%}
{% for postCourant in posts %}
{{ include('us/listerPosts.html.twig') }} 
{% endfor %}
{%endif%}

    
</p>
{%endblock%}

{% block contenuDroit%} 
<br>
 <div class="text-center">
    {% if  user.emplacementPhoto == null %}
        <img src="{{asset('/img/avDefault.png')}}" class="img-thumbnail" height="100px" width="100px">
    {% else %}
        <img src="{{user.emplacementPhoto}}" class="img-thumbnail" height="100px" width="100px">
    {% endif %}
    <br>
    <strong>{{user.pseudo}}</strong>
    <br>
    <br>
    Note moyenne des posts :  
    <center><div class='rateYo' data-rating={{noteUtilisateur}} ></div></center>    
    
<br> <br>
{% if user == app.user %}      
    <a class="btn btn-success mb-3" href="{{path('us_moduser', {'pseudo':user.pseudo})}}">Modifier mon profil</a>
    <a href="{{path('us_modpost',{'pseudo':user.pseudo}) }}" class="btn btn-success">Modifier mes posts</a>
{%else%}
    <div style="text-align:center;">
        <a href="{{ path('utilisateur_enFavori', {'pseudo':user.pseudo}) }}" class="btn js-favori">
        {% if user.estUnFavori(app.user) %}
            <i class="fas fa-heart"></i>
        {% else %}
            <span id="js-fav-text"> <b> Mettre en favori </b> </span>
            <i class="far fa-heart grise"></i>
        {% endif %}
    </a>
    </div>
{%endif%}
</div>

{% endblock %}

{%block Javascript%}
    <script src="{{ asset('js/scriptNoteMoyennePost.js') }}"></script>
{%endblock%}