{% extends 'templateBase.html.twig' %}

{% block barreRecherche %}{% endblock %}
{% block titleOnglet %}US - Classement {% endblock %}

{% block titlePage %} Classement {% endblock %}

{% block contenuCentral %}
	<div class="row">
    	<div class="col-sm">
    		<strong> Depuis le début: </strong> <br>
     		Mes points: {{mesPointsTotaux|number_format}} <br>
			Ma moyenne: <div class='rateYo' data-rating={{maMoyenneTotale}} style="display: inline-block"></div> 
    	</div>
    	<div class="col-sm">
      		<strong> Dernière remise à zéro: </strong> {{dateReset|date('d-m-Y')}}
    	</div>
	</div>

	<br>
	

	<hr>
	<h3> Classement actuel </h3> 
	<table class="table table-hover">
  		<thead>
    		<tr>
		      	<th scope="col">Place</th>
		      	<th scope="col">Profil</th>
		      	<th scope="col">Moyenne actuelle</th>
		      	<th scope="col">Posts notés</th>
		      	<th scope="col">Points</th>

    		</tr>
 		 </thead>
  		<tbody>
   			
   			{% set pointsPrecedent = null %}
   			
			{% for key,place in classement %}
				{% set first = null %}
				<tr class='clickable-row

					{% if monRang == loop.index %}

						bleuTransparent'

					{% endif %}
					' data-href='{{path('us_profil',{'pseudo':place['user'].pseudo})}}'>

					<th scope="row"> 
		
						{% if place['points']|number_format == pointsPrecedent|number_format %}
						{{ rang }}
							{% if place['points']|number_format == classement[0]['points']|number_format %}
								{% set first = true %} 
							{% endif %}
						{% else %} 
							{{loop.index}}  
						{% endif %}
					
					</th>
	      				<td>
	      		 
           
	      					<img src="
	      					{% if place['user'].emplacementPhoto == null %}
                       				{{asset('/img/avDefault.png')}}" 
                    		{% else %}
                       				{{place['user'].emplacementPhoto}}" 
                   			{% endif %}
                   			class="img-thumbnail" height="100px" width="100px">
	      			
	                    	&nbsp; {{ place['user'].pseudo }} 
		      				&nbsp;
		      				&nbsp;
	      			
	      					{% if loop.first or first %}
	      						<center style="display:inline-block;"><i class="fas fa-trophy fa-2x" style="color:gold; margin:20px"></i> </center>
	      					{% endif %}

	      				</td>
	     				
	     				<td> <div class='rateYo' data-rating={{place['moyenne']}} ></div> </td>
	     				<td> {{place['nbPostsNotes']}} </td>
	     				<td> {{place['points']|number_format}} </td>

	     				{% set pointsPrecedent = place['points'] %}
	     				{% set rang = loop.index %}

    				</tr>
			{% endfor %}
			{% if monRang == 'Non classé' or monRang > 10 %}
				<tr class="bleuTransparent" >

					<td> {{monRang}} </td>
					<td> <img src="
	      			{% if app.user.emplacementPhoto == null %}
                       {{asset('/img/avDefault.png')}}" 
                    {% else %}
                        {{app.user.emplacementPhoto}}" 
                    {% endif %}
                    class="img-thumbnail" height="100px" width="100px">
                    &nbsp; {{ app.user.pseudo }} 
	      			&nbsp;
	      			&nbsp;
	      			</td>
					
					<td> <div class='rateYo' data-rating={{maMoyenne}} ></div> </td>
					<td> {{ nbPostsNotes }}</td>
					<td> {{ mesPoints|number_format}}</td>
				</tr>
		

			{% endif %}
  		</tbody>
	</table>

{% endblock %}

{% block boxDroit %}{% endblock %}

{% block Javascript %}

<script src="{{ asset('js/scriptNoteMoyennePost.js') }}"></script>

<script>

jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock %}