{% extends 'templateBase.html.twig' %}

{% block titleOnglet %}US - Favoris{% endblock %}

{% block titlePage %} Mes favoris {% endblock %}

{% block barreRecherche %}{% endblock %}

{% block contenuCentral %}
<head>
  <style>
    h2 { color: #cd533d; }
  </style>
</head>

<h2><i class="far fa-folder-open"></i> - Semestres </h2>

<ul class="list-group list-group-flush">
	{% for semestreCourant in app.user.semestresFavoris %}
		<li class="list-group-item">
		<a href="{{ path('semestre_enFavori', {'id':semestreCourant.id}) }}" class="btn btn-link js-favori">
        		<i class="fas fa-heart"></i>	
    	</a>
		<a href="{{ path('us_repertoires') }}">{{ semestreCourant.nom }}</a></li>
	{% else %}

		Vous n'avez aucun semestre en favori !

	{% endfor %}
</ul>
<br>


<h2><i class="far fa-folder"></i> - Modules </h2>
<ul class="list-group list-group-flush">


	{% for moduleCourant in app.user.modulesFavoris %}
		
		<li class="list-group-item" >
		<a href="{{ path('module_enFavori', {'id':moduleCourant.id}) }}" class="btn btn-link js-favori">
        		<i class="fas fa-heart"></i>
		<a href="{{ path('us_postModule' , {'id' : moduleCourant.id }) }}">{{ moduleCourant.sigle }} - {{ moduleCourant.nom }}</a></li>
	{% else %}
	
		Vous n'avez aucun module en favori !
	
	{% endfor %}
</ul>
<br>



<h2><i class="far fa-file"></i> - Posts </h2>


{% for postCourant in posts %}

{{ include('us/listerPosts.html.twig') }} 

{% else %}
Vous n'avez aucun post en favori !
{% endfor %}
<br>
<br>


<h2><i class="far fa-user"></i> - Utilisateurs </h2>



{% for utilisateurCourant in app.user.utilisateursFavoris %}
	<div class="card bg-hov">
			<div class="card-body">
				<div class="row">
					<div class="col-md-1 align-self-center">
						<a href="{{ path('utilisateur_enFavori', {'pseudo':utilisateurCourant.pseudo}) }}" class="btn btn-link js-favori">
								<i class="fas fa-heart"></i>
							</a>
					</div>
					<div class="col-md-11">
						<div class="row">
							<a href="{{ path('us_profil', {'pseudo' : utilisateurCourant.pseudo }) }}" class="stretched-link"></a>
							<div class="col-md-2">
								<img src = "{{ utilisateurCourant.emplacementPhoto }}"  class="img-thumbnail"> 
							</div>
							<div class="col-md-9 align-self-center">
								<h5 class="card-title">{{ utilisateurCourant.pseudo }}</h5>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
{% else %}

Vous n'avez aucun utilisateur en favori !

{% endfor %}

		
	


{%endblock%}

{% block boxDroit %} {% endblock %}

{% block Javascript %}
   <script src="{{ asset('js/scriptNoteMoyennePost.js') }}"></script>
{% endblock %}
