{% extends 'templateBase.html.twig' %}

{% block titleOnglet %}US - Favoris{% endblock %}

{% block titlePage %} Mes favoris {% endblock %}

{% block barreRecherche %}{% endblock %}

{% block contenuCentral %}
<head>
  <style>
    h2 { color: #cd533d; }
  </style>
</head>

<h2><i class="far fa-folder-open"></i> - Semestres </h2>

<ul class="list-group list-group-flush">
	{% for semestreCourant in app.user.semestresFavoris %}
		<li class="list-group-item">
		<a href="{{ path('semestre_enFavori', {'id':semestreCourant.id}) }}" class="btn btn-link js-favori">
        		<i class="fas fa-heart"></i>	
    	</a>
		<a href="{{ path('us_repertoires') }}">{{ semestreCourant.nom }}</a></li>
	{% else %}

		Vous n'avez aucun semestre en favori !

	{% endfor %}
</ul>
<br>


<h2><i class="far fa-folder"></i> - Modules </h2>
<ul class="list-group list-group-flush">


	{% for moduleCourant in app.user.modulesFavoris %}
		
		<li class="list-group-item" >
		<a href="{{ path('module_enFavori', {'id':moduleCourant.id}) }}" class="btn btn-link js-favori">
        		<i class="fas fa-heart"></i>
		<a href="{{ path('us_postModule' , {'id' : moduleCourant.id }) }}">{{ moduleCourant.sigle }} - {{ moduleCourant.nom }}</a></li>
	{% else %}
	
		Vous n'avez aucun module en favori !
	
	{% endfor %}
</ul>
<br>



<h2><i class="far fa-file"></i> - Posts </h2>


{% for postCourant in posts %}



<div class="card bg-hov">
	<div class="card-body">
		<div class="row">
			<div class="col-md-1 align-self-center">
				<a href="{{ path('post_enFavori', {'id':postCourant.id}) }}" class="btn btn-link js-favori">
						<i class="fas fa-heart"></i>
				</a>
			</div>
			<div class="col-md-11">
				<div class="row">
					<div class="col-md-2">
						<img src = "{{postCourant.emplacementPhoto}}"  class="img-thumbnail">
					</div>
					<a href="{{ path('post_show', {'id' : postCourant.id }) }}" class="stretched-link"></a>
					<div class="col-md-2">
						<h6>{{ postCourant.titre }}</h6>
					</div>       
					<div class="col-md-2">
						<p>{{ postCourant.description |length > 40 ? postCourant.description|slice(0, 40) ~ '...' : postCourant.description }}</p>
					</div>
					<div class="col-md-2">
						<i>{{ postCourant.createur.pseudo }}</i><br>
						<i>{{ postCourant.datePubli | date('d-m-Y')}}</i><br>
						<div class='rateYo' data-rating={{notesPosts[postCourant.id]}} ></div>
					</div>
					<div class="col-md-1">
						{% for semestreCourant in postCourant.modules %}
							{{ semestreCourant.semestre.sigle }}
						{% endfor %}
					</div>
					<div class="col-md-2">
						{% for moduleCourant in postCourant.modules %}
							{{ moduleCourant.sigle }}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% else %}
Vous n'avez aucun post en favori !
{% endfor %}
<br>
<br>


<h2><i class="far fa-user"></i> - Utilisateurs </h2>



{% for utilisateurCourant in app.user.utilisateursFavoris %}
	<div class="card bg-hov">
			<div class="card-body">
				<div class="row">
					<div class="col-md-1 align-self-center">
						<a href="{{ path('utilisateur_enFavori', {'pseudo':utilisateurCourant.pseudo}) }}" class="btn btn-link js-favori">
								<i class="fas fa-heart"></i>
							</a>
					</div>
					<div class="col-md-11">
						<div class="row">
							<a href="{{ path('us_profil', {'pseudo' : utilisateurCourant.pseudo }) }}" class="stretched-link"></a>
							<div class="col-md-2">
								<img src = "{{ utilisateurCourant.emplacementPhoto }}"  class="img-thumbnail"> 
							</div>
							<div class="col-md-9 align-self-center">
								<h5 class="card-title">{{ utilisateurCourant.pseudo }}</h5>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
{% else %}

Vous n'avez aucun utilisateur en favori !

{% endfor %}

		
	


{%endblock%}

{% block boxDroit %} {% endblock %}

{% block Javascript %}
<script>

// Initialisation des div de notation et traitement de saisie de note

    $.each($('.rateYo'), function(){

        var $self = $(this);

        $self.rateYo({
            rating: $self.data('rating'),
            starSvg:'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>',
            fullStar: true,
            ratedFill: "gold",
            starWidth: "20px",
            readOnly: true,


        });
    });


</script>
{% endblock %}
