<div class="card bg-hov">
	<div class="card-body">
		<div class="row">
			<div class="col-md-1 align-self-center">
				<a href="{{ path('post_enFavori', {'id':postCourant.id}) }}" class="btn btn-link js-favori">
						{% if postCourant.estUnFavori(app.user) %}
        				<i class="fas fa-heart"></i>
    					{% else %}
    					<span id="js-fav-text"></span>
    					<i class="far fa-heart grise"></i>
    					{% endif %}
				</a>
			</div>
			<div class="col-md-11">
				<div class="row">
					<div class="col-md-2">
						<img src = "{{postCourant.emplacementPhoto}}"  class="img-thumbnail">
					</div>
					<a href="{{ path('post_show', {'id' : postCourant.id }) }}" class="stretched-link"></a>
					<div class="col-md-2">
						<h6>{{ postCourant.titre }}</h6>
					</div>       
					<div class="col-md-2">
						<p>{{ postCourant.description |length > 40 ? postCourant.description|slice(0, 40) ~ '...' : postCourant.description }}</p>
					</div>
					<div class="col-md-2">
						<i>{{ postCourant.createur.pseudo }}</i><br>
						<i>{{ postCourant.datePubli | date('d-m-Y')}}</i><br>
						<div class='rateYo' data-rating={{notesPosts[postCourant.id]}} ></div>
					</div>
					<div class="col-md-1">
						{% for semestreCourant in postCourant.modules %}
							{{ semestreCourant.semestre.sigle }}{% if loop.last == false %},{% endif %}
						{% endfor %}
					</div>
					<div class="col-md-2">
						{% for moduleCourant in postCourant.modules %}
							{{ moduleCourant.sigle }}{% if loop.last == false %},{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>