{% extends 'templateBase.html.twig' %}

{% block titleOnglet %}US - Paramètre{% endblock %}

{% block titlePage %} Paramètres : {{app.user.pseudo}} {% endblock %}

{% block contenuCentral %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
            <ul class="list-group" style="text-align: center;">
                <a href="#switchPseudoModal" data-toggle='modal' data-target="#switchPseudoModal"> <li class="list-group-item"> Changer mon pseudo</li></a>
                <a href=""><li class="list-group-item">Changer mon mot de passe</li></a>
                <a href=""><li class="list-group-item">Supprimer mon compte</li></a>
            </ul>
		</div>
		<div class="col-md-5">
            <div class="text-center">
                <img src="{{ asset('/img/us_logo.png') }}" alt="" height="150px" width="150px">               
            </div>
		</div>
	</div>
</div>


<div class="modal fade" id="switchPseudoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            
            <h5 class="modal-title" id="exampleModalLabel">Changement de pseudo :</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        {{ form_start(pseudoForm) }}
        <div class="modal-body">
            {{ form_row(pseudoForm.pseudo) }}   
        </div>
        {{ form_end(pseudoForm)}}
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
            <button class="btn btn-secondary" type="submit" href="{{path('us_changePseudo')}}">Enregistrer</input>
                
        </div>
    </div>
</div>
</div>


{% endblock %}

{% block boxDroit %} {% endblock %}

{% block barreRecherche %} {% endblock %}
