{% extends 'templateBase.html.twig' %}

{% block titleOnglet %}US - Recherche {% endblock %}

{% block titlePage %} Recherche : {{mot}} {% endblock %}

{% block contenuCentral %}

<!-- Tabs visuels -->
<ul class="nav nav-tabs" data-tabs="tabs">
    <li class="tabF"><a data-toggle="tab" href="#posts">
    		<button class="nav-link active">Posts</button></a></li>
    <li class="tabF"><a data-toggle="tab" href="#modules">
    		<button class="nav-link">Modules</button></a></li>
    <li class="tabF"><a data-toggle="tab" href="#utilisateurs">
   		 <button class="nav-link">Utilisateurs</button></a></li>
</ul>

<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" style="position:absolute; right:20px; top:15px">
  <i class="fas fa-cog" style="color:white;"></i> Recherche avancée 
</button>


<!-- Contenu des tabs -->
<div class="tab-content">
    <div class="tab-pane active" id="posts">
       	{% if posts != NULL %}
			<br> <strong> Posts correspondant à votre recherche: </strong> <br> <br>

			{% for postCourant in posts %}

				{{ include('us/listerPosts.html.twig') }} 

			{% endfor %}

		{% else %}
			<br> Aucun post ne correspond à votre recherche...
		{% endif %} 
    </div>


    <div class="tab-pane" id="modules">
		{% if modules != NULL %}
			<br> <strong> Modules correspondant à votre recherche: </strong> <br> <br>

    		{% for moduleCourant in modules %}
				<a href="{{ path('module_enFavori', {'id':moduleCourant.id}) }}" class="btn btn-link js-favori">
    				{% if moduleCourant.estUnFavori(app.user) %}
        				<i class="fas fa-heart"></i>
    				{% else %}
    					<span id="js-fav-text"></span>
    					<i class="far fa-heart grise"></i>
    				{% endif %}
    			</a>
				<a href="{{ path('us_postModule' , {'id' : moduleCourant.id }) }}"> {{ moduleCourant.sigle ~ ' - ' ~ moduleCourant.nom }} </a><br>
			{% endfor %}	
		{% else %}
			<br> Aucun module ne correspond à votre recherche...
		{% endif %}
    </div>


    <div class="tab-pane" id="utilisateurs">
      	{% if utilisateurs != NULL %}
      		<br> <strong> Utilisateurs correspondant à votre recherche: </strong> <br> <br>

        	{% for utilisateurCourant in utilisateurs %}
				<div class="card bg-hov">
					<div class="card-body">
						<div class="row">
							<div class="col-md-1 align-self-center">
								<a href="{{ path('utilisateur_enFavori', {'pseudo' : utilisateurCourant.pseudo }) }}" class="btn btn-link js-favori">
									{% if utilisateurCourant.estUnFavori(app.user) %}
        								<i class="fas fa-heart"></i>
    								{% else %}
    									<span id="js-fav-text"></span>
    									<i class="far fa-heart grise"></i>
    								{% endif %}
								</a>
							</div>
							<div class="col-md-11">
								<div class="row">
									<a href="{{ path('us_profil', {'pseudo' : utilisateurCourant.pseudo }) }}" class="stretched-link"></a>
									<div class="col-md-2">
									<img src = "{{ utilisateurCourant.emplacementPhoto }}"  class="img-thumbnail"> 
									</div>

									<div class="col-md-9 align-self-center">
									<h5 class="card-title">{{ utilisateurCourant.pseudo }}</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}	
		{% else %}
			<br> Aucun utilisateur ne correspond à votre recherche...
		{% endif %}
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Recherche avancée</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{path('us_rechercheAvancee')}}" id="avancee">
        	<h2> Trier </h2> 
        	<p>Choisissez une option pour de meilleurs résultats. </p>
        	<div class="row">
        		<div class="col-md-4">
					<p>Titre:</p>
				</div>
				<div class="col-md-4">
					<input type="radio" id="alpha" name="titre" value="ASC">
					<label for="alpha">Alphabétique</label><br>
				</div>
				<div class="col-md-4">
					<input type="radio" id="anteAlpha" name="titre" value="DESC">
					<label for="anteAlpha">Anté-alphabétique</label><br>
				</div>
			</div>
			<div class="row">
        		<div class="col-md-4">
					<p>Évaluation:</p>
				</div>
				<div class="col-md-4">
					<input type="radio" id="eCroissante" name="evaluation" value="ASC">
					<label for="eCroissante">Croissante</label><br>
				</div>
				<div class="col-md-4">
					<input type="radio" id="eDecroissante" name="evaluation" value="DESC">
					<label for="anteAlpha">Décroissante</label><br>
				</div>
			</div>
			<div class="row">
        		<div class="col-md-4">
					<p>Date:</p>
				</div>
				<div class="col-md-4">
					<input type="radio" id="dCroissante" name="date" value="ASC">
					<label for="dCroissante">Croissante</label><br>
				</div>
				<div class="col-md-4">
					<input type="radio" id="dDecroissante" name="date" value="DESC">
					<label for="dDecroissante">Décroissante</label><br>
				</div>
			</div>
			<br>
			<h2> Filtrer </h2> <br>
        	<div class="row">
        		<div class="col-md-4">
					<p>Semestre:</p>
				</div>
				<div class="col-md-4">
					<select name="semestre" id="semestre-select" style="width:120px">
					<option value="">Tous</option>
					{% for semestre in semestres %}

						<option value="{{semestre.sigle}}">{{semestre.nom}}</option>

					{% endfor %}
   					</select>
				</div>
			</div>
			<div class="row">
        		<div class="col-md-4">
					<p>Type de fichier:</p>
				</div>
				<div class="col-md-4">
					<select name="typeDeFichier" id="typeDeFichier-select" style="width:120px">
					<option value="">Tous</option>
					{% for type in typesDeFichier %}
						<option value="{{type.typeDeFichier}}">{{type.typeDeFichier}}</option>
					{% endfor %}
   					</select>
				</div>
			</div>
			<input type="hidden" id="mot" name="mot" value="{{mot}}">
			<br>  
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success" form="avancee">Rechercher</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block boxDroit %} {% endblock %}

{% block Javascript %}

<script>
// Gere l'aspect visuel de cliquer sur un tab
function onClickTabRecherche(event){

	// On enleve tous les attributs de tab actifs
	var tabs = document.getElementsByClassName('tabF');
	[].forEach.call(tabs, function (element) { 
		const button = element.querySelector('button');
		button.classList.remove('active');});

	// On rend actif celui qui a été cliqué
	const button = this.querySelector('button');
	button.classList.add('active');
        
}

 document.querySelectorAll('li.tabF').forEach(function(link){

    link.addEventListener('click', onClickTabRecherche);

})

</script>
<script src="{{ asset('js/scriptNoteMoyennePost.js') }}"></script>

{% endblock %}