{% extends 'templateBase.html.twig' %}

{% block titleOnglet %}US - Répertoires{% endblock %}

{% block titlePage %} Répertoires {% endblock %}

{% block contenuCentral %}


<div class="accordion" id="accordionExample">
	<!-- on definit une variable- compteur qui permettra de modifier les identifiants du html-->
	{% set idPourDiv=0 %}
	<!-- On rentre dans la boucle qui parcourt les semestres récupérés dans l'action métier réalisé par le controlleur-->
	{% for semestreCourant in semestres %}

		<div class="card">
			<div class="card-header" id="heading{{ idPourDiv }}"> <!-- on utilise la variable définie plus haut-->
				<h5 class="mb-0">
        	  <a href="{{ path('semestre_enFavori', {'id':semestreCourant.id}) }}" class="btn btn-link js-favori">
    					{% if semestreCourant.estUnFavori(app.user) %}
        				<i class="fas fa-heart"></i>
    					{% else %}
    					<span id="js-fav-text"></span>
    					<i class="far fa-heart grise"></i>
    					{% endif %}
    				</a>
					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ idPourDiv }}" aria-expanded="true" aria-controls="collapse{{ idPourDiv }}">
						 <i class="icon-folder"></i>{{ semestreCourant.nom }} <!-- on va récuperer le nom du semestre courant de la boucle pour l'afficher en header d'accordeon-->
					</button>
				</h5>
			</div>
		<div id="collapse{{ idPourDiv }}" class="collapse" aria-labelledby="heading{{ idPourDiv }}" data-parent="#accordionExample">
			<div class="card-body">
				{% for moduleCourant in semestreCourant.modules %} <!-- Boucle parcourant les modules associés au semestre courant-->
        	<a href="{{ path('module_enFavori', {'id':moduleCourant.id}) }}" class="btn btn-link js-favori">
    					{% if moduleCourant.estUnFavori(app.user) %}
        				<i class="fas fa-heart"></i>
    					{% else %}
    					<span id="js-fav-text"></span>
    					<i class="far fa-heart grise"></i>
    					{% endif %}
    				</a>
					<a href="{{ path('us_postModule' , {'id' : moduleCourant.id }) }}"> {{ moduleCourant.sigle ~ ' - ' ~ moduleCourant.nom }} </a><br>
				{% endfor %} 									<!-- ci-dessus on affiche le sigle suivi du nom du module ,séléctioné dans la boucle au préalable-->
			</div>
			{% set idPourDiv=idPourDiv+1 %}  <!-- On incrémente le compteur-->
		</div>
	</div>
	{% endfor %}
</div>


	{% if app.user.semestresFavoris is empty %}
	<div id="myModal" class="modal fade">
    <div class="modal-dialog model-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bienvenue!</h5>
            </div>
            <div class="modal-body">
                <p>Commencez par mettre votre semestre actuel en favori en cliquant sur le <i class="far fa-heart grise"></i> !</p>

                <button class="btn btn-success" style="float:right" data-dismiss="modal"> Ok! </button>
            </div>
            
        </div>
    </div>
</div>


{% endif %}
{%endblock%}

{%block Javascript%}
<script>
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
</script>
{%endblock%}



{% block boxDroit %} {% endblock %}
