{% extends 'templateBase.html.twig' %}

{% block titleOnglet %}US - Répertoires{% endblock %}

{% block titlePage %} Répertoires {% endblock %}

{% block contenuCentral %}


<div class="accordion" id="accordionExample">
	<!-- on definit une variable- compteur qui permetrra de modifier les identifiants du html-->
	{% set idPourDiv=0 %}
	<!-- On rentre dans la boucle qui parcourt les semestres récupérés dans l'action métier réalisé par le controlleur-->
	{% for semestreCourant in semestres %}

		<div class="card">
			<div class="card-header" id="heading{{ idPourDiv }}"> <!-- on utilise la variable définie plus haut-->
				<h5 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ idPourDiv }}" aria-expanded="true" aria-controls="collapse{{ idPourDiv }}">
						 <i class="icon-folder"></i> - {{ semestreCourant.nom }} <!-- on va récuperer le nom du semestre courant de la boucle pour l'afficher en header d'accordeon-->
					</button>
				</h5>
			</div>
		<div id="collapse{{ idPourDiv }}" class="collapse" aria-labelledby="heading{{ idPourDiv }}" data-parent="#accordionExample">
			<div class="card-body">
				{% for moduleCourant in semestreCourant.modules %} <!-- Boucle parcourant les modules associés au semestre courant-->
					<a href="{{ path('us_postModule' , {'id' : moduleCourant.id }) }}"> {{ moduleCourant.sigle ~ '-' ~ moduleCourant.nom }} </a><br>
				{% endfor %} 									<!-- ci-dessus on affiche le sigle suivi du nom du module ,séléctioné dans la boucle au préalable-->
			</div>
			{% set idPourDiv=idPourDiv+1 %}  <!-- On incrémente le compteur-->
		</div>
		
	{% endfor %}
</div>
 
  
  
  
  
  
  
	
	
{%endblock%}

{%block Javascript%}
	<script type="text/javascript">
		
		$(document).ready(function(){
			$('#etoileFavoris0').click(function(){
				if($(this).hasClass('icon-star-empty')){
					$(this).removeClass('icon-star-empty').addClass('icon-star');
				}
				else if($(this).hasClass('icon-star')){
					$(this).removeClass('icon-star').addClass('icon-star-empty');
				}
			});
			$('#etoileFavoris1').click(function(){
				if($(this).hasClass('icon-star-empty')){
					$(this).removeClass('icon-star-empty').addClass('icon-star');
				}
				else if($(this).hasClass('icon-star')){
					$(this).removeClass('icon-star').addClass('icon-star-empty');
				}
			}); 
			$('#etoileFavoris2').click(function(){
				if($(this).hasClass('icon-star-empty')){
					$(this).removeClass('icon-star-empty').addClass('icon-star');
				}
				else if($(this).hasClass('icon-star')){
					$(this).removeClass('icon-star').addClass('icon-star-empty');
				}
			}); 
			$('#etoileFavoris3').click(function(){
				if($(this).hasClass('icon-star-empty')){
					$(this).removeClass('icon-star-empty').addClass('icon-star');
				}
				else if($(this).hasClass('icon-star')){
					$(this).removeClass('icon-star').addClass('icon-star-empty');
				}
			}); 

		});
		
		



	</script>
{%endblock%}



{% block boxDroit %} {% endblock %}