{% extends 'templateBase.html.twig' %}

{% block titleOnglet %}US - Répertoires{% endblock %}

{% block titlePage %} Répertoires {% endblock %}

{% block contenuCentral %}

<div class="accordion" id="accordionExample">
	<!-- on definit une variable- compteur qui permetrra de modifier les identifiants du html-->
	{% set id=0 %}
	<!-- On rentre dans la boucle qui parcourt les semestres récupérés dans l'action métier réalisé par le controlleur-->
	{% for semestreCourant in semestres %}

		<div class="card">
			<div class="card-header" id="heading{{ id }}"> <!-- on utilise la variable définie plus haut-->
				<h5 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ id }}" aria-expanded="true" aria-controls="collapse{{ id }}">
						{{ semestreCourant.nom }} <!-- on va récuperer le nom du semestre courant de la boucle pour l'afficher en header d'accordeon-->
					</button>
				</h5>
			</div>
		<div id="collapse{{ id }}" class="collapse" aria-labelledby="heading{{ id }}" data-parent="#accordionExample">
			<div class="card-body">
				{% for moduleCourant in semestreCourant.modules %} <!-- Boucle parcourant les modules associés au semestre courant-->
					<a href="{{ path('us_postModule' , {'id' : '{{ moduleCourant.id }}'}) }}">{{ moduleCourant.sigle ~ '-' ~ moduleCourant.nom }} <br>	</a>
				{% endfor %} 									<!-- ci-dessus on affiche le sigle suivi du nom du module ,séléctioné dans la boucle au préalable-->
			</div>
			{% set id=id+1 %}  <!-- On incrémente le compteur-->
		</div>
		
	{% endfor %}
</div>
 
  
  
  
  
  
  
	
	
{%endblock%}

{% block boxDroit %} {% endblock %}