<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <!-- IMPLEMENTATION BOOTSTRAP CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('/css/styleAdd.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!-- ALTERNATIVE ICONS BOOTSTRAP 3 -->
        <script src="https://unpkg.com/feather-icons"></script>
        <!-- TITRE -->
        <title>{% block title %}University Share - {% endblock %}</title>
    </head>
    <body>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-2">
              <nav class="nav flex-column nav-fill" style="background-color:#605F5F">
                <a class="nav-item nav-link" href="#" style="justify-content:center;">
                  <div class="carreIMG">
                      <object data="{{asset('/img/$user.png')}}" type="image/png" height="100px" width="100px">
                          <img src="{{asset('/img/logo.png')}}" alt="defaut" height="100px" width="100px">
                      </object>
                  </div>
                </a>
                <a class="nav-item nav-link "style="justify-content:center;"><div class="line"></div></a>
                <a class="nav-item nav-link " href="#">Accueil</a>
                <a class="nav-item nav-link " href="#">Répertoires</a>
                <a class="nav-item nav-link " href="#">Créer un post</a>
                <a class="nav-item nav-link " href="#">Mes favoris</a>
                <a class="nav-item nav-link " href="#">Classement</a>
                {% block admin %}
                <a class="nav-item nav-link" href="#">
                  <button class="btn btn-dark btn-circle btn-lg">
                    <i data-feather="log-out"></i>
                  </button>
                </a>
                {% endblock %}
              </nav>
              </div>
               <div class="col-md-8">
                 {% block barreRecherche %}
                 <div class="barreRecherche">

                 </div>
                 {%endblock%}
                 <div class="carreCont">
                   {% block grosContainer %}

                   {% endblock %}
                 </div>
              </div>

              <div class="col-md-2">
              <!--{% block arborescence %}
              {% endblock %}-->
              </div>
          </div>
        <!-- BLOCK JAVASCRIPT -->
        <script>
          feather.replace()
        </script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
        <script src="{{asset('/js/bootstrap.min.js')}}" ></script>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
