{% extends 'templateBase.html.twig' %}

{% block titlePage %} <!-- *** BLOCK TITRE *** -->

Créer un post


    <button type="submit" class="btn posHD">Enregistrer </button>
{% endblock %}

{% block contenuCentral %} <!-- *** BLOCK CONTENU DU CENTRE *** -->

 {{form_start(form)}}

    {{form_row(form.emplacementPhoto, {'label': 'Lien photo','attr':{ 'placeholder':'Emplacement de la vignette du post...'}})}}

    {{form_row(form.titre, {'attr':{'placeholder':'Titre du post...'}})}}

    {{form_row(form.description, {'attr':{'placeholder':'Description du contenu...'}})}}

    <br>

<!-- SAISIES RESSOURCES -->
	<div class="card">
		<div class="card-header" id="headingOne">
  			<button class="btn btn-light"  type="button" data-toggle="collapse" data-target="#collapseRessources" aria-expanded="false" aria-controls="collapseRessources">
    			Ressources
  			</button>
		</div>
		<div class="collapse show" id="collapseRessources">
  			<div class="card card-body">
   
				<ul class="ressources" data-prototype="{{ form_widget(form.ressources.vars.prototype)|e('html_attr') }}">

					<button type="button" class="btn add_item_link" data-collection-holder-class="ressources" style="float:center">
						<i class="far fa-plus-square"></i> 
					</button>

					<!-- Pour ne pas avoir un label 'ressources' affiché à la fin du formulaire -->
					{{form(form.ressources, {'label': ''})}}

					<!-- affiche ressources deja associees au post -->
	    			{% for ressource in form.ressources %}
	    				<li> {{ form(ressource) }} </li> <!-- Formulaire entier 1 ressource -->
    				{% endfor %}
				</ul>
 			 </div>
		</div>
	</div>
	<br> <hr>
	
    {{ form_row(form.motsCles, {'label': 'Mots clés','attr':{ 'placeholder':'algorithmique'}}) }}

{% endblock %}

{% block contenuDroit %} <!-- *** BLOCK CONTENU DE DROITE *** -->
	
	<ul id="myUL">
	{% set semestreCourant = 0 %}
	
	{% for module in form.modules %}

		{% set semestreModule = module.vars.label|slice(1,1) %}

		{% if semestreModule > semestreCourant %}

			{% set semestreCourant = semestreModule %}

			{% if loop.first == false %}
				</li>
					</ul> 
			{% endif %}

				<li><span class='caret'> Semestre {{semestreCourant}} </span>
					<ul class='nested'> 
		{% endif %}
		
		<span data-toggle="tooltip" title="{{ module.vars.attr[module.vars.label]}}" data-placement="left"> 
			<li> {{ form_widget(module) }} </li>
		</span>
	
	{% endfor %}
	
				</li>
					</ul>
	
	{{form_end(form)}}


{% endblock %}

{% block Javascript %}


<!--- * Gere les tooltips * -->
<script>	


// Fonction activant les tooltips (affiche les noms complets des modules en survol)

	$(function () {
  		$('[data-toggle="tooltip"]').tooltip()
	})

</script>


<!-- * Gere l'affichage dynamique Modules/Semestres * -->
<script>

	var toggler = document.getElementsByClassName('caret');
	var i;

	for (i = 0; i < toggler.length; i++) {
		toggler[i].addEventListener('click', function() {
		this.parentElement.querySelector('.nested').classList.toggle('active');						this.classList.toggle('caret-down');
		});
	}

</script>


<!-- * Gere la generation dynamique d'un nouveau form de Ressource * -->
<script>	

jQuery(document).ready(function() {

 	var $collectionHolder = $('ul.ressources');

    // add a delete link to all of the existing tag form li elements
    $collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

	    // Get the ul that holds the collection of ressources
    var $entiteCollectionHolder = $('ul.ressources');

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $entiteCollectionHolder.data('index', $entiteCollectionHolder.find('input').length);

    $('body').on('click', '.add_item_link', function(e) {
        var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
        // add a new tag form (see next code block)
        addFormToCollection($collectionHolderClass);
    })
});

function addFormToCollection($collectionHolderClass) {
    // Get the ul that holds the collection of ressources
    var $collectionHolder = $('.' + $collectionHolderClass);

    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    // Add the new form at the end of the list
    $collectionHolder.append($newFormLi)

     addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormButton = $('<button type="button" class="btn" style="float: right;"><i class="fas fa-trash"></i></button><br><hr>');
    $tagFormLi.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

</script>

<!-- * Bundle select2 permet l'affichage de saisie à la volee des mots-cles * -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>

<script>
  const select = document.querySelector('.js-select2');
  $(select).select2({
    tags: true,
  });
</script>

{% endblock %}