{% extends 'templateBase.html.twig' %}

{% block titlePage %} {% endblock %}
{% block contenuCentral %}

    <div class="row">
        <div class="col-md-3">
             <img src=" {{ post.emplacementPhoto }}" class="img-thumbnail" height="100px" width="100px">  
        </div>
        <div class="col-md-9" style="display: flex;align-items: center;"5%;"> 
            <h3>
                 {{post.titre}}
            </h3>  
        </div>
    </div>
     <hr>


    <dl class="row">
        <dt class="col-sm-3">Date</dt>
        <dd class="col-sm-9"> {{ post.datePubli ? post.datePubli|date('d-m-Y') : '' }} </dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9"> {{ post.description }} </dd>

        <dt class="col-sm-3">Ressources</dt>
        <dd class="col-sm-9">   
            {% for ressource in post.ressources %} 

                    <a href="{{ressource.emplacement}}" target="_blank" style="color: var(--brique)"> {{ressource.nom}} </a> <br>

            {% endfor %}
        </dd>
    </dl>


    
{% endblock %}

{% block contenuDroit %}

    <br>
    <b> Modules: </b> 


    {% for module in post.modules %} 
        <br>
        <span data-toggle="tooltip" title="{{ module.nom }}" data-placement="left"> 
        
            {{module.sigle}}

        </span>
    
    {% endfor %}

{% endblock %}

{% block buttons %}
    
    {% if post.createur != app.user and is_granted("ROLE_ADMIN") == false %}
        {% if post.signale %}
            <a class="btn posBD disabled" href="{{ path('post_signaler', {'id': post.id}) }}" role="button">Signaler</a>
        {% else %}
            <a class="btn posBD " href="{{ path('post_signaler', {'id': post.id}) }}" role="button">Signaler</a>
        {% endif %}
    {% else %}
        <button type="button" class="btn posBD" href="{{ path('post_edit', {'id': post.id}) }}"> Modifier </button>
        {{ include('post/_delete_form.html.twig') }} 
    {% endif %}

{% endblock %}

{% block javascript %}





{% endblock %}