<!DOCTYPE html>

<title>Post</title>

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ post.titre }}</td>
            </tr>
            <tr>
                <th>DatePubli</th>
                <td>{{ post.datePubli ? post.datePubli|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Signale</th>
                <td>{{ post.signale ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>EmplacementPhoto</th>
                <td>{{ post.emplacementPhoto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('post_index') }}">back to list</a>

    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
